html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
}


paper-material {
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid white;
}

iron-image {
    border-radius: 50%;
}

paper-tab {
    width: 70px;
}
