body {
    font-family: 'Roboto';
}




.container {
    margin: 20px;
    padding: 20px;
    max-width: 920px;
    background-color: white;
    width: 80%;
}


.description {
    padding: 5px;

}

paper-tab {
    min-width: 120px;
}

#demo {
    width: 100%;
}

@media (max-width: 700px) {
    paper-tab {
        min-width: 50px;
    }
    .description {
        display: none;
    }


}
@media (max-width: 600px), (max-height: 700px) {
    .container {
        margin: 0;
        padding: 0;
        background-color: white;
        box-shadow: none !important;
        min-width: 100vw;
    }

}

